.jumbotron {
    background-color: black;
    color: aliceblue;
}

.body {
    background-color: #F8F9FA;
}



.display-4 {
    text-align: center;
}

 .container {
     background-color: #F8F9FA;
 }   
    
#currentWeather {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
  

.card {
    display:inline-block;
    background-color: #F8F9FA;
}

.card-body {
    display:inline-block;

}

#topCard {
    margin: 50%;
    width: 70%;
    background-color: #F8F9FA;
}



footer {
    position: fixed;
    height: 105px;
    bottom: 0;
    width: 100%;
    background-color: #F8F9FA;
}


